[submodule "webinar-1-model-authoring"]
	path = webinar-1-model-authoring
	url = git@github.com:asynchronics/esa-ascend-webinar-1-model-authoring.git
[submodule "webinar-2-bench-assembly"]
	path = webinar-2-bench-assembly
	url = https://github.com/asynchronics/esa-ascend-webinar-2-bench-assembly
[submodule "webinar-3-HIL-simulations"]
	path = webinar-3-HIL-simulations
	url = https://github.com/asynchronics/esa-ascend-webinar-3-HIL-simulations
[submodule "webinar-4-python-client"]
	path = webinar-4-python-client
	url = git@github.com:asynchronics/esa-ascend-webinar-4-python-client.git
