[submodule "webinar-1-model-authoring"]
	path = webinar-1-model-authoring
	url = git@github.com:asynchronics/esa-ascend-webinar-1-model-authoring.git
[submodule "webinar-2-bench-assembly"]
	path = webinar-2-bench-assembly
	url = https://github.com/asynchronics/esa-ascend-webinar-2-bench-assembly
